.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1; //start at first row to the end(-1)
    display: flex;
    justify-content: center;
    
    //HAMBURGER BUTTON
    &__open{
        position: fixed;
        margin-top: 4.5rem;
        height: 4rem;

        &--icon{
            height: 5rem;
            width: 5rem; 
            fill: #000;
            display: block;
            transition: all 0.2s;

            @media only screen and (max-width: $bp-large){
                margin-left: 3rem;
                height: 4rem;
                width: 4rem;
            }
        }

        &--icon:hover{
            fill: #fff;
            transform: translateY(-3px);

            @media only screen and (max-width: $bp-large){
                transform: unset;
            }
        }

        @media only screen and (max-width: $bp-large){
            margin: auto 0;
            position: unset;
        }
    }

    @media only screen and (max-width: $bp-large){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-start;
        align-items: center;
    }
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
//NAVIGATION
.navigation{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-primary, 0.98);
    overflow-x: hidden;
    transition: 0.8s;
    z-index: 999;
    
    @media only screen and (max-width: $bp-large){
        width: 100%;
        height: 0;
        overflow-y: hidden;
    }

    //CROSS BUTTON
    &__close{
        position: absolute;
        top: 4.5rem;
        right: 4.5rem;
        height: 4rem;

        &--icon{
            height: 5rem;
            width: 5rem; 
            fill: #000;
            display: block;
            transition: 0.2s;

            @media only screen and (max-width: $bp-large){
                height: 4rem;
                width: 4rem;
            }
        }

        &--icon:hover{
            fill: #fff;
            transform: translateY(-3px);

            @media only screen and (max-width: $bp-large){
                transform: unset;
            }
        }

        @media only screen and (max-width: $bp-large){
            top: 1rem;
            right: 3rem;
        }
    }
    
    &__list{                                     
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        margin: 1rem;
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            font-size: 3.5rem;
            padding: 1rem 2rem;
            text-transform: uppercase;
            color: #fff;
            display: inline-block;
            transition: all 0.4s;
            backface-visibility: hidden; //fix the hover rotate bug
            
            @media only screen and (max-width: $bp-medium){
                font-size: 3rem;
            }
        }

        &:hover,
        &:active{
            color: #000;
            transform: rotate(5deg) scale(1.2);
        }
    }
}
